<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cla.wan.android">

    <application
        android:name="com.cla.wan.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClaWanAndroid"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="com.cla.wan.android.LifeCycleInjector"
            android:value="@string/lifecycle_proxy" />

        <meta-data
            android:name="com.cla.wan.android.BuildConfig"
            android:value="@string/module_info" />

    </application>

</manifest>