<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cla.scaffold">

    <application>

        <meta-data
            android:name="com.cla.scaffold.LifeCycleInjector"
            android:value="@string/lifecycle_proxy" />

        <meta-data
            android:name="com.cla.scaffold.BuildConfig"
            android:value="@string/module_info" />

        <activity
            android:name=".ui.MainAty"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.GuideAty"
            android:theme="@style/GuideActivityStyle" />

    </application>
</manifest>