<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cla.wan.utils">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="com.cla.wan.utils.LifeCycleInjector"
            android:value="@string/lifecycle_proxy" />

        <meta-data
            android:name="com.cla.wan.utils.BuildConfig"
            android:value="@string/module_info" />
    </application>
</manifest>